<section id="subNav">
  <table class="table">
    <tbody>
      <tr>
        <td> <button class="yellow-btn"> Send </button></td>
        <td><button class="yellow-btn"> Request </button></td>
        <td> <button class="yellow-btn"> Requests </button> </td>
      </tr>
    </tbody>
  </table>
</section>

<section id="sendMoney" *ngIf="payDisplay">
  <h1>Send Money</h1>

  <p>Please enter your desired person's email</p>
  <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
    <label>
      Recipient:
      <label >Email</label>
      <input type="email" formControlName="email" placeholder="foo@bar.com" required class="form-control">
      <label >Amount</label>
      <input type="number" formControlName="amount" placeholder="$100" required class="form-control">
      <label >Description</label>
      <input type="text" formControlName="description" placeholder="Write description?" required class="form-control" ngModel maxlength="150">
    </label>
    <br><br>
    <button type="submit" [disabled]="transferForm.invalid">Transfer</button>
  </form>
</section>

<section id="requestMoney" *ngIf="requestDisplay">
  <h1>Request Money</h1>
  <p>Please enter your desired person's email</p>
  <form [formGroup]="requestForm" (ngSubmit)="onRequest()">
    <label>
      Recipient:
      <label >Email</label>
      <input type="email" formControlName="remail" placeholder="foo@bar.com" required class="form-control">
      <label >Amount</label>
      <input type="number" formControlName="ramount" placeholder="$100" required class="form-control">
      <label >Description</label>
      <input type="text" formControlName="rdescription" placeholder="Description of your request" required class="form-control" ngModel maxlength="150">
    </label>
    <br><br>
    <button type="submit" [disabled]="requestForm.invalid">Request</button>
  </form>
</section>

<section id="pendingRequests" *ngIf="requestsDisplay">
  <div class="transac-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Requested By</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col"> Remaining Balance</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="Requests.length > 0">
                <tr *ngFor="let transac of Requests">
                    <td *ngIf="transac.recipientEmail != undefined; else default">
                        {{transac.recipientEmail}}
                    </td>
                    <ng-template #default>
                        <td>You</td>
                    </ng-template>
                    <td>{{transac.amount}}</td>
                    <td>{{transac.createdAt | date: 'shortDate'}}</td>
                    <td> {{transac.ramount}}</td>
                    <td><button (click)="payRequest(transac)"> Pay </button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
</section>

<section id="payRequestS" *ngIf="payRequestD">
  <h1>Pay Rquest</h1>

  <p>Please enter your desired person's email</p>
  <form [formGroup]="transferForm">
    <label>
      Recipient:
      <label >Email</label>
      <input id="semail" type="email" formControlName="email" placeholder="foo@bar.com" required class="form-control">
      <label >Amount</label>
      <input id="samount" type="number" formControlName="amount" placeholder="$100" required class="form-control">
    </label>
    <br><br>
    <button type="submit" (click)="pay()">Transfer</button>
  </form>
</section>




