<div class="transac-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Recipient</th>
                <th scope="col">Sender</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="Transactions.length > 0">
                <tr *ngFor="let transac of Transactions" [ngClass]="{'minus' : transac.senderEmail == user,
                'plus' : transac.senderEmail != user}">
                    <td>{{transac.recipientEmail}}</td>
                    <td>{{transac.senderEmail}}</td>
                    <td>{{transac.amount}}</td>
                    <td>{{transac.createdAt | date: 'shortDate'}}</td>
                    <td>{{transac.description}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>