@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #D6D6DE;
    font-family: 'Noto Sans', sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    min-width: 300px;
    width: fit-content;
    padding: 20px 5%
}

.fa-ellipsis-v {
    font-size: 10px;
    color: #C2C2C4;
    margin-top: 6px;
    cursor: pointer;
}

.text-dark {
    font-weight: bold;
    margin-top: 8px;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.card-bottom {
    background: #3E454D;
    border-radius: 6px;
}

.flex-column {
    color: #adb5bd;
    font-size: 13px;
}

.flex-column p {
    letter-spacing: 1px;
    font-size: 18px;
}

.btn-secondary {
    height: 40px !important;
    margin-top: 3px;
}

.btn-secondary:focus {
    box-shadow: none;
}

.card-new {
    background: white;
    border-radius: 6px;
}

.split1 {
    height: 85%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: visible;
    padding-top: 60px;
    margin-left: 50%;
}

.split2 {
    height: 85%;
    min-width: 100%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    overflow-x: visible;
    padding-top: 60px;
    margin-left: 50%;
    margin-top: 10px;
    width: 500px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: transparent;
}

/* Control the right side */
.right {
    right: 0;
    background-color: transparent;
}

.minus {
    color: red;
}

.plus {
    color: green;
}

@media screen and (max-width: 700px) {
    .disappear {
        display: none;
    }

    .split1 {
        position: relative;
        margin-left: auto;
        width: 100%;
    }
    
    .split2 {
        position: relative;
        margin-left: 15%;
        margin-right: 20%;
    }
    
    .container {
        min-width: 80%;
        min-height: 100%;
    }
    
    .wallet {
        margin-left: 20%;
        padding-left: 10%;
        margin-right: 20%;
    }

    .transaction-history-div {
        padding: 5% 15%;
    }
}

a {
    text-decoration: none;
}

details {
    margin-bottom: 10px;
}

details summary {
    margin-bottom: 6px;
}

details p {
    margin: 0 0;
    margin-left: 10%;
    margin-right: 5%;
}

.transaction-history-div {
    min-width: fit-content;
}