<section style="top: 0%; margin: 0;" class="left split1">
    <!-- Account Section -->
    <div class="container d-flex justify-content-left p-3"
        style="margin-bottom: 2%; margin-left: 2%; width: fit-content;">
        <div class="card">
            <p class="text-dark">My Wallet</p>
            <div class="card-bottom pt-3 px-3 mb-2">
                <div class="d-flex flex-row justify-content-between text-align-center">
                    <div class="d-flex flex-column"><span>Balance amount</span>
                        <p>&dollar; <span class="text-white">2,958.12</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-left disappear" style="margin-left: 2%;">
        <div class="card p-3 disappear">
            <p class="text-dark disappear">Actions</p>
            <div class="card-new pt-3 px-3 mb-2 disappear">
                <ul>
                    <li><a href="#">New transaction</a></li>
                    <li><a routerLink="Transactions">View Transactions</a></li>
                    <li><a href="#">View accounts</a></li>
                    <li><a href="#">Change personal details</a></li>
                    <li><a routerLink="/AddPayment" href="#">Add New Payment Method</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- <table class="table table-hover right split2">
    <tr>
        <th>Sender</th>
        <th>Amount</th>
        <th>Recipient</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <ng-container *ngFor="let Transaction of Transactions">
        <tr [ngClass]="{'minus' : Transaction.senderId == user,
                       'plus' : Transaction.senderId != user}">
            <td>{{Transaction.senderId}}</td>
            <td>{{Transaction.amount}}</td>
            <td>{{Transaction.recipientId}}</td>
            <td>{{Transaction.createdAt | date:'fullDate'}}</td>
            <td>{{Transaction.description}}</td>
        </tr>
    </ng-container>
</table> -->
<div class="container d-flex justify-content-right split2 p-3" style="margin-bottom: 2%; top:5%; ">
    <div class="card">
        <a routerLink="Transactions" class="text-dark">Transaction History</a>
        <div class="d-flex flex-row justify-content-between text-align-center">
            <section class="card">
                <details *ngFor="let Transaction of Transactions">
                    <summary>Date: {{Transaction.createdAt | date: 'shortDate'}} Amount: {{Transaction.amount}}
                    </summary>
                    <p>Recipient: {{Transaction.recipientEmail}}</p>
                    <p>Sender: {{Transaction.senderEmail}}</p>
                    <p>Sender: {{Transaction.description}}</p>
                </details>
            </section>

        </div>
    </div>
</div>