<div class="container py-5">
  
    <div class="list">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
          <!-- card card form tabs -->
          <ul role="tablist" class="nav flex-column bg-light nav-pills nav-fill mb-5">
            <li class="nav-item">
              <a data-toggle="pill" (click)="toggleMode('card')" class="nav-link  pointer" [ngClass] = "mode === 'card' ? 'active' : ''">
                                  <i class="fa fa-card-card"></i>
                                  Transfer to Card
                                </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" (click)="toggleMode('bank')" class="nav-link pointer" [ngClass] = "mode === 'bank' ? 'active' : ''">
                                  <i class="fa fa-university"></i>
                                   Transfer to Bank
                               </a>
            </li>
          </ul>
          <!-- End -->
  
  
          <!--  card form content -->
          <div class="tab-content">
  
            <!--  card info-->
            <div id="nav-tab-card" class="tab-pane fade" [ngClass]="mode === 'card' ? 'show active' : ''">
              <form [formGroup]="cardForm" (ngSubmit)="processCardForm($event)">
                
                <div class="form-group" style="padding-bottom: 3ex;">
                    <label >Card ID</label>
                    <input type="number" formControlName="card" placeholder="12345..." required class="form-control">
                    
                    <label > User ID</label>
                    <input type="number" formControlName="cardUserId" placeholder="1 or 2 or 3" required class="form-control">
                  
                    <label >Amount</label>
                    <input type="number" formControlName="cardAmount" placeholder="$0" required class="form-control">

                </div>

                <button type="submit"> Submit  </button>
              </form>
            </div>
            <!-- End -->
  
            <!-- Bank Account Infromation-->
            <div id="nav-tab-bank" class="tab-pane fade" [ngClass]="mode === 'bank' ? 'show active' : ''">
                <form [formGroup]="bankForm" (ngSubmit)="processBankForm($event)">
                
                    <div class="form-group" style="padding-bottom: 3ex;">
                        <label >Bank ID</label>
                        <input type="number" formControlName="bank" placeholder="12345..." required class="form-control">
                        
                        <label > User ID</label>
                        <input type="number" formControlName="bankUserId" placeholder="1 or 2 or 3" required class="form-control">
                      
                        <label >Amount</label>
                        <input type="number" formControlName="bankAmount" placeholder="$0" required class="form-control">
    
                    </div>
    
                    <button type="submit"> Submit  </button>
                  </form>
            <!-- End -->
          </div>
          <!-- End -->
  
        </div>
      </div>
    </div>
  </div>